@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #2F5DAA;
    --secondary-color: #7A7A7A;
    --black-color: #000000;
    --white-color: #F2F2F2;
    --text-color: #DADADA;

    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.5rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

}

.nav-drawer {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: var(--white-color);
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

.nav-drawer.open {
    right: 0;
}