<footer class="site-footer">
  <div class="footer-container">
    
    <div class="footer-brand">
      <h2>Les Attaches D.F. Inc</h2>
      <img id="footer-logo" src="../images/attachesdflogo.png" alt="Les Attaches D.F. Inc Logo">
    </div>

    <div class="footer-contact">
      <h3>Contact</h3>
      <ul>
        <li>
          📞 Téléphone:<a href="tel:+15143558066">(514) 355-8066</a>
        </li>
        <li>
          📞 Sans-frais: <a href="tel:+18883558066">1-888-355-8066</a>
        </li>
        <li>
          📠 Télécopies: (514) 355-8023
        </li>
        <li>
          📠 Sans-frais: 1-888-434-4985
        </li>
        <li>
          ✉️ Email:<a href="mailto:info@studwelding.ca">info@studwelding.ca</a>
        </li>
      </ul>
    </div>

    <div class="footer-address">
      <h3>Addresse</h3>
      <p>
        9051 Blvd Parkway<br>
        Montréal, QC, Canada<br>
        H1J 1N4
      </p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Les Attaches D.F. Inc. Tous droits réservés.</p>
  </div>
</footer>