<header>
    <div class="nav-logo">
        <img id="nav-image" src="project/images/logo.png">
        <h2 class="nav-title">The Next Generation in Stud Welding</h2>
    </div>

    <ul class="nav-options">
        <li class="nav-item">
            <a href="#" id="lang-toggle">Français</a>
        </li>
        <li class="nav-item">
            <a href="project/html/homepage-en.html">Homepage</a>
        </li>
        <li class="nav-item">
            <a href="project/html/contact-en.html">Contact Us</a>
        </li>
        <li>
            <button id="menu-open-button" class="fas fa-bars"></button>
        </li>
    </ul>

    <div class="nav-drawer" id="nav-drawer">
    
        <div class="drawer-header">
            <h2>Menu</h2>
            <button id="menu-close-button" class="fas fa-times"></button>
        </div>

        <hr class="drawer-divider">

        <ul class="nav-menu" id="main-menu">
            <li class="nav-item">
                <a href="project/html/equipment-en.html">Equipment</a>
            </li>
        </ul>

    </div>

    <div class="nav-drawer-overlay" id="nav-drawer-overlay"></div>

    <script type="module" src="project/js/header.js"></script>

</header>