<header>
    <div class="nav-logo">
        <img id="nav-image" src="../images/attachesdflogo.png">
        <h2 class="nav-title">Les Attaches D.F.</h2>
    </div>

    <ul class="nav-options">
        <li class="nav-item">
            <a href="header-en.html">English</a>
        </li>
        <li class="nav-item">
            <a href="../html/homepage.html">Accueil</a>
        </li>
        <li class="nav-item">
            <a href="../html/contact.html">Contactez-Nous</a>
        </li>
        <button id="menu-open-button" class="fas fa-bars"></button>
    </ul>
    
    <div class="nav-drawer" id="nav-drawer">
        <ul class="nav-menu">
            <button id="menu-close-button" class="fas fa-times"></button>

            <li class="nav-item">
                <a href="../html/equipment.html">Équipements</a>
            </li>
        </ul>
    </div>

    <script type="module" src="../js/header.js"></script>

</header>