<header>
    <div class="nav-logo">
        <img id="nav-image" src="/images/attachesdflogo.png">
        <h2 class="nav-title">Les Attaches D.F.</h2>
    </div>

    <ul class="nav-options">
        <li class="nav-item">
            <a href="header.html">Français</a>
        </li>
        <li class="nav-item">
            <a href="/html/homepage-en.html">Homepage</a>
        </li>
        <li class="nav-item">
            <a href="/html/contact-en.html">Contact Us</a>
        </li>
        <button id="menu-open-button" class="fas fa-bars"></button>
    </ul>

    <div class="nav-drawer" id="nav-drawer">
        <ul class="nav-menu">
            <button id="menu-close-button" class="fas fa-times"></button>
            
            <li class="nav-item">
                <a href="/html/equipment-en.html">Equipement</a>
            </li>
        </ul>
    </div>

    <script type="module" src="/js/header.js"></script>

</header>